<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.mapper.SearchRedisMapper">

	<resultMap type="com.atguigu.bean.OBJECT_T_MALL_SKU" id="select_sku_by_class_2_map" autoMapping="true">
		<result column="sku_id" property="id"/>
		<association property="spu" javaType="com.atguigu.bean.T_MALL_PRODUCT" autoMapping="true">
			<result column="spu_id" property="id"/>
		</association>
		<association property="tm" javaType="com.atguigu.bean.T_MALL_TRADE_MARK" autoMapping="true">
			<result column="tm_id" property="id"/>
		</association>
	</resultMap>
	
	<select id="select_sku_by_class_2" parameterType="int" resultMap="select_sku_by_class_2_map">
		select sku.id as sku_id,spu.id as spu_id,tm.id as tm_id
		,sku.*,spu.*,tm.* from 
		t_mall_sku sku,
		t_mall_product spu,
		t_mall_trade_mark tm
		where
		sku.shp_id = spu.Id AND
		tm.id = spu.pp_id AND
		spu.flbh2 = #{class_2_id}
	</select>
	
	
	<select id="select_value_by_attr_id" parameterType="int" resultType="int">
		select id from t_mall_value where shxm_id = #{shxm_id}
	</select>
	
	<select id="select_sku_by_attr" parameterType="Map"
		resultMap="select_sku_by_class_2_map">
		select sku.id as sku_id,spu.id as spu_id,tm.id as tm_id
		,sku.*,spu.*,tm.* from
		T_mall_product spu,
		T_mall_sku sku,
		T_mall_sku_attr_value av,
		T_mall_trade_mark tm,
		T_mall_tm_class tmc

		where spu.Id =sku.shp_id AND
		sku.Id = av.sku_id AND
		spu.flbh1 =
		tmc.flbh1 AND
		tmc.pp_id = tm.Id
		and
		spu.pp_id = tm.id
		and spu.flbh2 =
		#{class_2_id}
		${sql}
		${order}
	</select>
</mapper>
