<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.mapper.SpuMapper">
  <insert id="insert_spu" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
  	insert into t_mall_product(
  	shp_mch,
  	shp_tp,
  	flbh1,
  	flbh2,
  	pp_id,
  	shp_msh
  	)values(
  		#{shp_mch},
  		#{shp_tp},
  		#{flbh1},
  		#{flbh2},
  		#{pp_id},
  		#{shp_msh}
  	)  
  </insert>
  
  <insert id="insert_images">
		insert into
		t_mall_product_image(
		shp_id,
		url
		)
		values
		<foreach collection="list_image" item="image" separator=",">
			(#{id},#{image})
		</foreach>
	</insert>
</mapper>
