<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.mapper.CartMapper">

	<select id="select_list_cart_by_user_id" parameterType="int"
		resultType="com.atguigu.bean.T_MALL_SHOPPINGCART">
		select * from t_mall_shoppingCart where yh_id = #{yh_id}
	</select>

	<insert id="insert_cart" parameterType="com.atguigu.bean.T_MALL_SHOPPINGCART"
	useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		insert into
		T_MALL_SHOPPINGCART(
		sku_mch,
		sku_jg,
		tjshl,
		hj,
		yh_id,
		shp_id,
		sku_id,
		shp_tp,
		kcdzh
		)
		values
		(
		#{sku_mch},
		#{sku_jg},
		#{tjshl},
		#{hj},
		#{yh_id},
		#{shp_id},
		#{sku_id},
		#{shp_tp},
		#{kcdzh}
		)
	</insert>
	<update id="update_cart" parameterType="com.atguigu.bean.T_MALL_SHOPPINGCART">
		update T_MALL_SHOPPINGCART 
		<set>
			<if test="tjshl > 0">
				tjshl = #{tjshl},
			</if>
			<if test="hj > 0">
				hj = #{hj},
			</if>
		</set>
		where id = #{id}
	</update>
	<update id="update_cart_by_sku_id">
		update T_MALL_SHOPPINGCART 
		<set>
			<if test="shfxzh==0 or shfxzh==1">
				shfxzh = #{shfxzh},
			</if>
			<if test="tjshl > 0">
				tjshl = #{tjshl},
			</if>
		</set>
		where sku_id = #{sku_id}
	</update>
	
	<delete id="delete_carts_by_sku_id">
		delete from T_MALL_SHOPPINGCART where sku_id = #{sku_id}
	</delete>
	
</mapper>
