<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.mapper.SearchMapper">

	<select id="select_sku_by_spu" parameterType="int"
	resultType="com.atguigu.bean.T_MALL_SKU">
	select * from t_mall_sku where shp_id = #{spu_id}
	</select>

	<select id="select_sku_detail_by_id" parameterType="int"
		resultMap="select_sku_detail_by_id_map">
		select sku.id as sku_id,spu.id as spu_id,tm.id as
		tm_id,img.id as img_id,attr.shxm_mch ,CONCAT(val.shxzh,val.shxzh_mch)
		as shxzh_mch
		,sku.*,spu.*,img.*
		from
		t_mall_sku sku,
		t_mall_product spu,
		t_mall_trade_mark tm,
		t_mall_sku_attr_value av,
		t_mall_attr attr,
		t_mall_value val,
		t_mall_product_image img
		where
		sku.shp_id = spu.Id
		AND
		tm.id = spu.pp_id
		AND
		sku.Id = av.sku_id
		and
		av.shxm_id = attr.id
		and
		av.shxzh_id = val.id
		and
		spu.id = img.shp_id
		and
		sku.id = #{sku_id}
	</select>

	<resultMap type="com.atguigu.bean.DETAIL_T_MALL_SKU" id="select_sku_detail_by_id_map"
		autoMapping="true">
		<result column="sku_id" property="id" />
		<association javaType="com.atguigu.bean.T_MALL_PRODUCT"
			property="spu" autoMapping="true">
			<result column="spu_id" property="id" />
		</association>
		<association javaType="com.atguigu.bean.T_MALL_TRADE_MARK"
			property="tm" autoMapping="true">
			<result column="tm_id" property="id" />
		</association>
		<collection property="list_image"
			ofType="com.atguigu.bean.T_MALL_PRODUCT_IMAGE" autoMapping="true">
			<result column="img_id" property="id" />
		</collection>
		<collection property="list_av_name" ofType="com.atguigu.bean.T_MALL_SKU_AV_NAME"
			autoMapping="true">
		</collection>
	</resultMap>


	<select id="select_sku_by_attr" parameterType="Map"
		resultMap="select_sku_by_class_2_map">
		select sku.id as sku_id,spu.id as spu_id,tm.id as tm_id
		,sku.*,spu.*,tm.* from
		T_mall_product spu,
		T_mall_sku sku,
		T_mall_sku_attr_value av,
		T_mall_trade_mark tm,
		T_mall_tm_class tmc

		where spu.Id =sku.shp_id AND
		sku.Id = av.sku_id AND
		spu.flbh1 =
		tmc.flbh1 AND
		tmc.pp_id = tm.Id
		and
		spu.pp_id = tm.id
		and spu.flbh2 =
		#{class_2_id}
		${sql}
		${order}
	</select>

	<select id="select_sku_by_class_2" resultMap="select_sku_by_class_2_map"
		parameterType="int">
		select sku.id as sku_id,spu.id as spu_id,tm.id as tm_id
		,sku.*,spu.*,tm.*
		from
		T_mall_product spu,
		T_mall_sku sku,
		T_mall_sku_attr_value av,
		T_mall_trade_mark tm,
		T_mall_tm_class tmc

		where spu.Id =sku.shp_id AND
		sku.Id = av.sku_id AND
		spu.flbh1 =
		tmc.flbh1 AND
		tmc.pp_id = tm.Id and
		spu.pp_id = tm.id
		and spu.flbh2 =
		#{class_2_id}
	</select>
	<resultMap type="com.atguigu.bean.OBJECT_T_MALL_SKU" id="select_sku_by_class_2_map"
		autoMapping="true">
		<result column="sku_id" property="id" />
		<association javaType="com.atguigu.bean.T_MALL_PRODUCT"
			property="spu" autoMapping="true">
			<result column="spu_id" property="id" />
		</association>
		<association javaType="com.atguigu.bean.T_MALL_TRADE_MARK"
			property="tm" autoMapping="true">
			<result column="tm_id" property="id" />
		</association>
	</resultMap>

</mapper>
