<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.mapper.AddressMapper">
	<sql id="Base_All">id,dzh_mch,dzhzht,yh_id,shjr,lxfsh</sql>


	<select id="select_addresses_by_id" parameterType="int"
		resultType="com.atguigu.bean.T_MALL_ADDRESS">
		select <include refid="Base_All"/> from t_mall_address where id = #{address_id}
	</select>

	<insert id="insert_address" parameterType="com.atguigu.bean.T_MALL_ADDRESS">

		insert into
		t_mall_address
		(
		dzh_mch,
		yh_id,
		shjr,
		lxfsh
		)
		values
		(
		#{dzh_mch},
		#{yh_id},
		#{shjr},
		#{lxfsh}
		)
	</insert>

	<select id="select_addresses_by_user_id" parameterType="com.atguigu.bean.T_MALL_USER_ACCOUNT"
		resultType="com.atguigu.bean.T_MALL_ADDRESS">
		select <include refid="Base_All"/> from t_mall_address where yh_id = #{id}
	</select>
</mapper>
