<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.mapper.UserMapper">
	<sql id="Base_All">Id,yh_mch,yh_nch,yh_mm,yh_xm,yh_shjh,yh_yx,yh_tx,yh_jb</sql>
	<select id="select_user" parameterType="com.atguigu.bean.T_MALL_USER_ACCOUNT"
		resultType="com.atguigu.bean.T_MALL_USER_ACCOUNT">
		select <include refid="Base_All"/> from
		t_mall_user_account where yh_mch = #{yh_mch}
		and yh_mm = #{yh_mm}
	</select>

	<insert id="insert_user" parameterType="com.atguigu.bean.T_MALL_USER_ACCOUNT">
		insert into
		T_MALL_USER_ACCOUNT
		(
		yh_mch,
		yh_nch,
		yh_mm,
		yh_xm,
		yh_shjh,
		yh_yx
		)
		values
		(
		#{yh_mch},
		#{yh_nch},
		#{yh_mm},
		#{yh_xm},
		#{yh_shjh},
		#{yh_yx}
		)
	</insert>
</mapper>
