<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/jdbc 
       http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
       http://cxf.apache.org/jaxws
       http://cxf.apache.org/schemas/jaxws.xsd
       http://cxf.apache.org/jaxrs
       http://cxf.apache.org/schemas/jaxrs.xsd
       ">
	<bean id="dataSource" class="com.atguigu.util.MyDatasourceRouting">
		<property name="targetDataSources">
			<map key-type="java.lang.String">
				<entry key="1" value-ref="dataSource_user"/>
				<entry key="2" value-ref="dataSource_other"/>
			</map>
		</property>
		<property name="defaultTargetDataSource" ref="dataSource_user"></property>
	</bean>
	<context:property-placeholder location="classpath:dbConfig.properties" />
	<bean id="dataSource_user" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${driverClassName}" />
		<property name="url" value="${url_user}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	<bean id="dataSource_other" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${driverClassName}" />
		<property name="url" value="${url_other}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatis-config.xml" />
	</bean>
	<bean id="myCallBackService" class="com.atguigu.util.MyCallBackService"></bean>
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.atguigu.mapper" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryBean" />
	</bean>
	<bean id="wss4jInInterceptor" class="org.apache.cxf.ws.security.wss4j.WSS4JInInterceptor">
				<constructor-arg>
					<map>
						<entry key="action" value="UsernameToken"></entry>
						<entry key="passwordType" value="PasswordText"></entry>
						<entry key="passwordCallbackRef">
							<ref bean="myCallBackService"/>
						</entry>
					</map>
				</constructor-arg>
	</bean>
	<jaxws:endpoint address="/user"
		implementorClass="com.atguigu.service.UserServiceInf">
		
		<!-- 服务器安全拦截器配置 -->
		<jaxws:inInterceptors>
			<ref bean="wss4jInInterceptor"/>
		</jaxws:inInterceptors>
			
		<jaxws:implementor>
			<bean class="com.atguigu.service.UserServiceImp"></bean>
		</jaxws:implementor>
	</jaxws:endpoint>
	
	<jaxrs:server address="/ruser">
		<jaxrs:serviceBeans>
			<bean class="com.atguigu.service.UserServiceImp"></bean>
		</jaxrs:serviceBeans>
	</jaxrs:server>
	
	<jaxws:endpoint address="/address"
		implementorClass="com.atguigu.service.AddressServiceInf">
		<jaxws:implementor>
			<bean class="com.atguigu.service.AddressServiceImp"></bean>
		</jaxws:implementor>
	</jaxws:endpoint>
</beans>